html, body {margin: 0;padding: 0}
html {font-size: 62.5%; font-family: "Merriweather", serif; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased}
body {font-size: 1.6rem;line-height: 2.8rem; color: #1a1a1a; background: #fff}
.container {max-width: 800px;padding: 5.6rem 6vw 0;margin: 0 auto;}
h1, h2, p, pre, code {margin: 0}
h1, h2, p, pre {padding-bottom: 2.8rem}
h1 {line-height: 5.6rem; font-size: 4rem}
h2 {font-size: 2.8rem; padding-top: 2.8rem; line-height: 2.8rem}
p, code {line-height: 2.8rem}
code {display: block;overflow-x: auto;padding-left: 1.8rem;margin-left: -2rem;border-left: .2rem solid #60B4FF;}
.code-string {color: #d14}
.code-number {color: #008080}
.github-button {display: none;}
h1 iframe {margin-left: 20px;}
a {color: #3084CF}

@media (min-width: 550px) {
  .container {padding-top: 6.4rem; padding-bottom: 6.4rem}
  h1, h2, p, pre {padding-bottom: 3.2rem}
  h1 {line-height: 6.4rem}
  h2 {padding-top: 3.2rem; font-size: 2.8rem}
  h2, p, code {line-height: 3.2rem}
  h1 {font-size: 4.4rem}
  p {font-size: 1.8rem}
  code {font-size: 1.6rem}
}
@media (min-width: 900px) {
  .container {padding-top: 7.6rem}
  h1, h2, p, pre {padding-bottom: 3.8rem}
  h1 {line-height: 7.6rem;}
  h2 {padding-top: 3.8rem; font-size: 3.8rem}
  h2, p, code {line-height: 3.8rem}
  h1 {font-size: 5rem}
  p {font-size: 2rem}
  code {font-size: 1.8rem}
}
